<div class="card">
  <div class="card-header">
    <%= link_to 'Click Here To Generate A New Superhero', root_path %>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer">
    <%= link_to 'Create A Whole Superhero Team', home_team_path %>
  </div>
</div>
