<div class="card">
  <div class="card-header gray">
    <%= @team_size ? "Here's your team" : "How many team members do you want?" %>
  </div>
  <div class="card-body">
    <% if @team_size %>
      <%= render 'show_team' %>
    <% else %>
      <%= render 'form' %>
    <% end %>
  </div>
  <div class="card-footer">
    <%= link_to 'Create A Whole Superhero Team', home_team_path %>
  </div>
</div>
